.intro h1{
    text-align: center;
    color: #FC2E20;
    
    
}
.pic img{
    padding-left: 80px;
    height: 480px;
    width: 1000px;
    align-items: center;
}
.about h2{
    text-align: center;
    color: #FC2E20;
}
.about p{
    padding-left: 80px;
    padding-right: 90px;
    font-family: cursive;
}
.list h2{
    text-align: center;
    color: #FC2E20; 
}
.list {
    text-align: center;
    
    
}
a{
    text-decoration: none;
}
ul.myul{
    /* display: inline-block; */
    list-style: none;
    font-family: cursive;
    padding-right: 80px;
}
.biography h2{
    text-align: center;
    color: #FC2E20;
}
/* #hp1  {
    float: left;    
     margin: 0 15px 0 0;
    }
     */
.img-bio{
    padding-left: 100px;
}     
.img-bio img{
    border: 5px solid #555;
    
    
    
}
