.intro h1{
    text-align: center;
    color: #FC2E20;
    
    
}
.pic img{
    padding-left: 80px;
    height: 480px;
    width: 1000px;
    align-items: center;
}
.about h2{
    text-align: center;
    color: #FC2E20;
}
.about p{
    padding-left: 80px;
    padding-right: 90px;
    font-family: cursive;
}
.list h2{
    text-align: center;
    color: #FC2E20; 
}
.list {
    text-align: center;
    
    
}
a{
    text-decoration: none;
}
ul.myul{
    /* display: inline-block; */
    list-style: none;
    font-family: cursive;
    padding-right: 80px;
}
.biography h2{
    text-align: center;
    color: #FC2E20;
}

.bio{
    display: grid;
    grid-template-columns: min-content 1fr;
}

